.CardGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 31px;

    animation: CardStart 1s 1;
}

@media screen and (max-width:768px) {
  .CardGrid{
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 0px;
    margin-left: 16px;
  }
}

@keyframes CardStart {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }