.Content {
    width: 1020px;
    margin: 0 auto;
}

@media screen and (max-width:1020px) {
    .Content {
        width: auto;
        margin-left: 8px;
    }
}

@media screen and (max-width: 768px) {
    .Content {
        margin-top: 30px;
        margin-bottom: 50px;
        width: auto;
    }
}