.ReportsWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
}

.Reports h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 0px;
    letter-spacing: 0.01em;
    text-transform: capitalize;

    color: #000000;
}


.Reports li {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    list-style-type: none;
    
    color: #333333;
}

.Reports li:hover {
    cursor: pointer;
}

.Reports li::before {
    content: url(../../../assets/img/Vector.svg);
    padding-right:8px;

}