.Breadcrumbs {
    margin-top: 36px;
    margin-bottom: 48px;
}

.Breadcrumbs a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-decoration: none;

    color: #6694C6;
}

.Breadcrumbs img {
    padding-left: 5px;
}

@media screen and (max-width:768px) {
    .Breadcrumbs {
        display: none;
    }
}