/* Global Styles */
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 59px;
  letter-spacing: 0.01em;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #C4C4C4;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Roboto', sans-serif;
}

button {
  width:200px;
  height: 50px;
  border:0;

  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;

  color: #FFFFFF;
  background: linear-gradient(90deg, #61A8FA 0%, #5E77FF 100%);
  
  cursor: pointer;
}

button:hover {
  background: #5E77FF;
}

label {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  text-transform: uppercase;

  color: #4A4A4A;
}

input {
  min-width: 325px;
  min-height: 40px;
  background: #EFF3F8;
  border: 1px solid #6694C6;
  border-radius: 4px;
  
}

::placeholder {
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: #777777;
}

.link {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #61A8FA;
}


.redlink {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #D05C3E;
}

